.end-align{
    display: flex;
    justify-content:flex-end;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  ion-button{
    width: 40px;
  }